# ==================================
# IGNORE FOR SECURITY OR UNNECESSARY
# ===================================


# ignoring tests units
tests/

# ignoring

env/
.gitignore

# pypl folders
build/
dist/
trans.egg-info/

# mypy folder
.mypy_cache/

# pytest folder
.pytest_cache/